/* Root Variables */
:root {
  --background-color: #121212;
  --text-color: #fff;
  --subdued-text-color: #b3b3b3;
  --link-color: #1db954;
  --selected-color: #417553;
  --border-color: #282828;
  --hover-background-color: #282828;
  --font-family: "Montserrat", sans-serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: var(--font-family);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: var(--text-color);
  text-decoration: underline;
}

p,
small,
.track-time {
  color: var(--subdued-text-color);
}

/* Sidebar Styling */
.sidebar {
  background-color: var(--background-color);
  color: var(--subdued-text-color);
}

#sidebar-menu .nav-link {
  color: inherit;
  transition: all 0.3s ease;
}

#sidebar-menu .nav-link:hover,
#sidebar-menu .nav-link:focus {
  background-color: var(--hover-background-color);
  color: var(--text-color);
}

#sidebar-menu .nav-link.active {
  background-color: var(--active-color);
  color: var(--text-color);
}

/* Main Container & Layout */
.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.placeholder-container {
  width: 90%;
  height: 700px;
  flex: 1;
  padding: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}
.selected-playlist-container {
  width: 90%;
  height: 700px;
  flex: 1;
  padding: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: auto;
}

.tracks-container {
  height: 450px; /* Ensures the container takes up 90% of the viewport height */
  width: 90%; /* Adjusts the width to 90% of the viewport width, consider adjusting if necessary */
  margin-bottom: 5px; /* Adjusted from 'bottom: 5;' which was incorrect */
  overflow-x: hidden;
  overflow-y: scroll; /* Allows vertical scrolling */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) var(--scroll-color);
}

.tracks-container::-webkit-scrollbar {
  width: 5px;
}

.tracks-container::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

/* Cards & List Groups */
.card,
.list-group-item {
  background-color: var(--hover-background-color);
  border: 2px solid var(--border-color);
  padding: 6px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.card:hover,
.list-group-item:hover,
.list-group-item:focus {
  background-color: var(--hover-background-color);
  /* border-color: var(--link-color); */
}
.list-group-item.selected {
  background-color: var(--selected-color); /* Green background */
  color: var(--text-color); /* Ensure text color is readable on the green background */
}
/* Playlist Items & Carousel */
.carousel-item {
  transition: opacity 0.3s ease;
}

.playlist-item {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  transition: border-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border-radius: 2px;
}

.playlist-item img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playlist-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Add Green Border to Selected Playlist */
.playlist-item.selected {
  border: 2px solid #1db954;
  background-color: #1db954;
}

/* Carousel Arrows */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  width: 20px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  color: white;
  width: 50px;
  height: 50px;
}

/* Custom Scrollbar */
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--background-color);
}

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

/* User Info */
.user-info {
  background: linear-gradient(to right, #252b27 0%, #4c6856 100%);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

.user-info-header {
  display: flex;
  align-items: center;
}

.user-welcome {
  font-size: 3rem;
  margin-right: 0.5rem;
}

.user-universe {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.user-stats {
  display: flex;
  align-items: center;
}

.user-stats p {
  margin: 0 1rem;
}

.btn-outline-light {
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 2px;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #1db954;
  text-decoration: none;
}

/* Action Bar Styling */
.playlist-action-bar, .tracks-action-bar {
  display: flex; /* Use Flexbox */
  justify-content: space-around; /* Evenly distribute space around items */
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure the bar takes full width of its parent */
  padding: 0.5rem;
  background-color: #121212; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.playlist-action-bar, .tracks-action-bar i {
  color: #1db954; /* Darker text/icon color for contrast */
  border-color: #fff;
  border-radius: 2px;
  margin-right: 10px; /* Spacing between icons */
  cursor: pointer; /* Change cursor on hover to indicate clickable */
  display: flex;
}

.playlist-action-bar, .tracks-action-bar i:last-child {
  margin-right: 0; /* Remove margin for the last icon */
}

.playlist-action-bar, .tracks-action-bar i:hover {
  color: #007bff; /* Highlight color on hover (Bootstrap primary color for reference) */
}

#deleteTracksBtn {
  cursor: pointer;
  color: white; /* White text color */
  background-color: #dc3545; /* Red background color */
  padding: 5px 8px; /* Padding around the icon */
  border-radius: 5px; /* Rounded corners for a modern look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  display: inline-block; /* Treat the icon like a block element to allow padding */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#deleteTracksBtn:hover {
  background-color: #c82333; /* Darker red on hover */
}

/* General styling for the list-group */
.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style adjustments when in selection mode */
.selection-mode .list-group-item:hover {
  background-color: var(--selected-color);; /* Lighter background on hover */
}

/* Checkbox visible state */
.selection-mode .track-select {
  display: block !important; /* Force display when in selection mode */
}

/* Styling for the track information */
.track-info {
  display: flex;
  align-items: center;
}

.track-info img {
  margin-right: 15px; /* Adjust spacing */
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.track-info div {
  max-width: 300px;
}

.track-info h5,
.track-info p {
  margin-bottom: 0; /* Remove default margins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dragging {
  opacity: 0.75;
  z-index: 1000; /* Ensure the dragging element is above other content */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* More pronounced shadow for dragging */
}

/* Styling for selected playlists */
.selected-playlist {
  border-color: #007bff; /* Bootstrap primary blue for selection */
  background-color: #e7f3ff; /* Light blue background for selected items */
}

.track-time {
  font-size: 12px;
}
#compare-playlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#compare-playlist-container {
  height: 350px; /* Ensures the container takes up 90% of the viewport height */
  width: 100%; /* Adjusts the width to 90% of the viewport width, consider adjusting if necessary */
  margin-bottom: 5px; /* Adjusted from 'bottom: 5;' which was incorrect */
  overflow-x: hidden;
  border: 2px solid #bbb;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  overflow-y: hidden; /* Allows vertical scrolling */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) var(--scroll-color);
}

.comparison-side {
  width: 50%;
  height: 100%; /* Ensures the container takes up 90% of the viewport height */
  padding: 10px;
  border: 2px solid #bbb;
  background-color: #121212; /* White background for content areas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
  overflow-x: hidden;
  overflow-y: hidden; /* Allows vertical scrolling */
}

/* Optional: Add hover effect for interactive feedback */
.comparison-side:hover {
  border-color: #bbb; /* Darker border on hover */
}

.icon-button {
  flex: 1; /* Allows each button to grow equally to fill the container */
  display: flex; /* Use Flexbox within each button */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  padding: 0.5rem;
  border: none; /* Removes the default button border */
  background: none; /* Removes the default button background */
  color: inherit; /* Inherits the text color from the parent */
  cursor: pointer;
}

.icon-button i {
  font-size: 1.5rem; /* Example size, adjust as needed */
}


/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .main-container,
  .placeholder-container,
  .playlist-tab-container {
    width: auto;
    margin: 0.5rem;
  }

  .user-info {
    flex-direction: column;
  }

  .user-universe,
  .user-stats p {
    margin: 0.5rem 0;
  }

  .btn-logout {
    align-self: center;
    margin-top: 1rem;
  }
}
