/* Root Variables */
:root {
  --background-color: #121212; /* Spotify's main background color */
  --text-color: #fff; /* Main text color - white for contrast */
  --subdued-text-color: #b3b3b3; /* Less prominent text */
  --link-color: #1db954; /* Spotify's brand green color */
  --border-color: #282828; /* Border color for elements */
  --hover-background-color: #282828; /* Background color for hover states */
  --font-family: "Montserrat", sans-serif; /* Spotify uses a sans-serif font, Montserrat is a good alternative */
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: var(--font-family);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  overflow-y: auto;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
a:focus {
  color: var(--text-color);
  text-decoration: underline;
}

p,
small,
.track-time {
  color: var(--subdued-text-color);
}

/* Sidebar Styling */
.sidebar {
  background-color: var(--background-color);
  color: var(--subdued-text-color);
}

#sidebar-menu .nav-link {
  color: inherit;
  transition: all 0.3s ease;
}

#sidebar-menu .nav-link:hover,
#sidebar-menu .nav-link:focus {
  background-color: var(--hover-background-color);
  color: var(--text-color);
}

#sidebar-menu .nav-link.active {
  background-color: var(--active-color);
  color: var(--text-color);
}

/* Main Container & Layout */
.main-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.selected-playlist-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
}
/* Cards & List Groups */
.card,
.list-group-item {
  background-color: var(--hover-background-color);
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.card:hover,
.list-group-item:hover,
.list-group-item:focus {
  background-color: var(--active-color);
  border-color: var(--link-color);
}

/* Playlist Items & Carousel */
.carousel-item {
  transition: opacity 0.3s ease;
}

.playlist-item {
  position: relative; /* Set position to absolute */
  top: 50%; /* Move the item down by 50% of its parent's height */
  left: 50%; /* Move the item right by 50% of its parent's width */
  transform: translate(-50%, -50%); /* Adjust for centering */
  max-width: 90%;
  max-height: 90%;
  transition: border-color 0.3s ease, transform 0.3s ease; /* Smooth transition for border color and transform changes */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 2px; /* Add border radius */
}
.playlist-item img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playlist-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Add Green Border to Selected Playlist */
.playlist-item.selected {
  border: 2px solid #1db954;
  background-color: #1db954; /* Change background color to green */
}
/* Carousel Arrows */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  width: 20px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  color: white;
  width: 50px;
  height: 50px;
}

/* Custom Scrollbar */
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--background-color);
}

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
}

/* User Info */
.user-info {
  background: linear-gradient(to right, #252b27 0%, #4c6856 100%);
  border-radius: 4px;
  display: flex;
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Vertically align elements */
  padding: 1rem;
  color: #fff; /* White text */
}

.user-info-header {
  display: flex;
  align-items: center; /* Align the text and button */
}

.user-welcome {
  font-size: 3rem; /* Large font size for welcome text */
  margin-right: 0.5rem; /* Space between welcome text and subtitle */
}

.user-universe {
  font-size: 1rem; /* Large font size for welcome text */
  margin-left: 0.5rem; /* Space before subtitle */
}

.user-stats {
  display: flex;
  align-items: center; /* Vertically align stats */
}

.user-stats p {
  margin: 0 1rem; /* Horizontal space between stats */
}

.btn-outline-light {
  padding: 0.5rem 1rem; /* Padding inside the button */
  border: 2px solid #fff; /* White border for the button */
  border-radius: 2px; /* Rounded corners for the button */
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #1db954;
  text-decoration: none;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .main-container,
  .placeholder-container,
  .playlist-tab-container {
    width: auto;
    margin: 0.5rem;
  }

  .user-info {
    flex-direction: column; /* Stack the elements on smaller screens */
  }
  .user-universe,
  .user-stats p {
    margin: 0.5rem 0; /* Add space around elements on smaller screens */
  }
  .btn-logout {
    align-self: center; /* Center the logout button on smaller screens */
    margin-top: 1rem; /* Add space above the logout button on smaller screens */
  }
}
